
USE [README_DB]
GO
/****** Object:  Table [dbo].[comentario]    Script Date: 3/8/2026 1:27:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[comentario](
	[id_comentario] [int] IDENTITY(1,1) NOT NULL,
	[contenido] [nvarchar](max) NOT NULL,
	[fecha_comentario] [datetime2](7) NULL,
	[id_usuario] [int] NOT NULL,
	[id_post] [int] NOT NULL,
	[id_comentario_padre] [int] NULL,
	[me_gusta] [int] NULL,
	[no_me_gusta] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_comentario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[comunidad]    Script Date: 3/8/2026 1:27:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[comunidad](
	[id_comunidad] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](50) NOT NULL,
	[descripcion] [nvarchar](max) NULL,
	[fecha_creacion] [datetime2](7) NULL,
	[id_creador] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_comunidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[post]    Script Date: 3/8/2026 1:27:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[post](
	[id_post] [int] IDENTITY(1,1) NOT NULL,
	[titulo] [nvarchar](200) NOT NULL,
	[contenido] [nvarchar](max) NULL,
	[fecha_publicacion] [datetime2](7) NULL,
	[id_usuario] [int] NOT NULL,
	[id_comunidad] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_post] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reaccion]    Script Date: 3/8/2026 1:27:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reaccion](
	[id_reaccion] [int] IDENTITY(1,1) NOT NULL,
	[id_post] [int] NULL,
	[id_comentario] [int] NULL,
	[tipo] [varchar](10) NULL,
	[usuario] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_reaccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuario]    Script Date: 3/8/2026 1:27:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuario](
	[id_usuario] [int] IDENTITY(1,1) NOT NULL,
	[nombre_usuario] [nvarchar](50) NOT NULL,
	[email] [nvarchar](50) NOT NULL,
	[password_hash] [nvarchar](255) NOT NULL,
	[fecha_registro] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[voto]    Script Date: 3/8/2026 1:27:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[voto](
	[id_voto] [int] IDENTITY(1,1) NOT NULL,
	[tipo] [char](4) NOT NULL,
	[id_usuario] [int] NOT NULL,
	[id_post] [int] NULL,
	[id_comentario] [int] NULL,
	[fecha_voto] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_voto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[comentario] ON 

INSERT [dbo].[comentario] ([id_comentario], [contenido], [fecha_comentario], [id_usuario], [id_post], [id_comentario_padre], [me_gusta], [no_me_gusta]) VALUES (3, N'Este es un comentario de prueba', CAST(N'2026-03-06T22:29:29.4463475' AS DateTime2), 1, 5, NULL, NULL, NULL)
INSERT [dbo].[comentario] ([id_comentario], [contenido], [fecha_comentario], [id_usuario], [id_post], [id_comentario_padre], [me_gusta], [no_me_gusta]) VALUES (4, N'Hola a todos', CAST(N'2026-03-06T22:29:41.6117342' AS DateTime2), 2, 7, NULL, NULL, NULL)
INSERT [dbo].[comentario] ([id_comentario], [contenido], [fecha_comentario], [id_usuario], [id_post], [id_comentario_padre], [me_gusta], [no_me_gusta]) VALUES (5, N'Jamas, Nooooooooooooooooooo, Fuera Chaves!!!', CAST(N'2026-03-08T12:57:33.4266265' AS DateTime2), 3, 8, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[comentario] OFF
GO
SET IDENTITY_INSERT [dbo].[comunidad] ON 

INSERT [dbo].[comunidad] ([id_comunidad], [nombre], [descripcion], [fecha_creacion], [id_creador]) VALUES (4, N'Comunidad General', NULL, CAST(N'2026-03-06T21:58:43.1781226' AS DateTime2), 1)
INSERT [dbo].[comunidad] ([id_comunidad], [nombre], [descripcion], [fecha_creacion], [id_creador]) VALUES (7, N'Comunidad Tecnología', N'Posts sobre tecnología', CAST(N'2026-03-06T22:02:26.5466667' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[comunidad] OFF
GO
SET IDENTITY_INSERT [dbo].[post] ON 

INSERT [dbo].[post] ([id_post], [titulo], [contenido], [fecha_publicacion], [id_usuario], [id_comunidad]) VALUES (5, N'Mi post', N'Contenido...', CAST(N'2026-03-06T22:01:32.5857544' AS DateTime2), 1, 4)
INSERT [dbo].[post] ([id_post], [titulo], [contenido], [fecha_publicacion], [id_usuario], [id_comunidad]) VALUES (7, N'Bienvenidos', N'Este es el primer post', CAST(N'2026-03-06T22:02:18.4218917' AS DateTime2), 1, 4)
INSERT [dbo].[post] ([id_post], [titulo], [contenido], [fecha_publicacion], [id_usuario], [id_comunidad]) VALUES (8, N'Chaves es el mejor presitende', N'Rodrigo Chaves es el mejor presidente de la historia de costa rica, patriarca, aguerrido, fuerte, comandante en jefe del estado costarricense.', CAST(N'2026-03-08T12:56:39.4904698' AS DateTime2), 3, 7)
SET IDENTITY_INSERT [dbo].[post] OFF
GO
SET IDENTITY_INSERT [dbo].[usuario] ON 

INSERT [dbo].[usuario] ([id_usuario], [nombre_usuario], [email], [password_hash], [fecha_registro]) VALUES (1, N'Angie', N'angie@test.com', N'1234', CAST(N'2026-03-05T11:15:46.8200000' AS DateTime2))
INSERT [dbo].[usuario] ([id_usuario], [nombre_usuario], [email], [password_hash], [fecha_registro]) VALUES (2, N'test', N'test@gmail.com', N'testeo', CAST(N'2026-03-06T21:48:24.8426841' AS DateTime2))
INSERT [dbo].[usuario] ([id_usuario], [nombre_usuario], [email], [password_hash], [fecha_registro]) VALUES (3, N'amiranda@gmail.com', N'amiranda@gmail.com', N'Amiranda$9785', CAST(N'2026-03-08T10:44:38.1332526' AS DateTime2))
SET IDENTITY_INSERT [dbo].[usuario] OFF
GO
SET IDENTITY_INSERT [dbo].[voto] ON 

INSERT [dbo].[voto] ([id_voto], [tipo], [id_usuario], [id_post], [id_comentario], [fecha_voto]) VALUES (8, N'UP  ', 1, 5, NULL, CAST(N'2026-03-08T10:10:54.2396211' AS DateTime2))
INSERT [dbo].[voto] ([id_voto], [tipo], [id_usuario], [id_post], [id_comentario], [fecha_voto]) VALUES (24, N'UP  ', 2, 5, NULL, CAST(N'2026-03-07T21:03:28.8388806' AS DateTime2))
INSERT [dbo].[voto] ([id_voto], [tipo], [id_usuario], [id_post], [id_comentario], [fecha_voto]) VALUES (27, N'DOWN', 3, NULL, 3, CAST(N'2026-03-08T12:55:02.9420812' AS DateTime2))
SET IDENTITY_INSERT [dbo].[voto] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__comunida__72AFBCC6E871593E]    Script Date: 3/8/2026 1:27:09 PM ******/
ALTER TABLE [dbo].[comunidad] ADD UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__usuario__AB6E6164014B1353]    Script Date: 3/8/2026 1:27:09 PM ******/
ALTER TABLE [dbo].[usuario] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__usuario__D4D22D74184E1AAB]    Script Date: 3/8/2026 1:27:09 PM ******/
ALTER TABLE [dbo].[usuario] ADD UNIQUE NONCLUSTERED 
(
	[nombre_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[comentario] ADD  DEFAULT (sysdatetime()) FOR [fecha_comentario]
GO
ALTER TABLE [dbo].[comentario] ADD  DEFAULT ((0)) FOR [me_gusta]
GO
ALTER TABLE [dbo].[comentario] ADD  DEFAULT ((0)) FOR [no_me_gusta]
GO
ALTER TABLE [dbo].[comunidad] ADD  DEFAULT (sysdatetime()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[post] ADD  DEFAULT (sysdatetime()) FOR [fecha_publicacion]
GO
ALTER TABLE [dbo].[usuario] ADD  DEFAULT (sysdatetime()) FOR [fecha_registro]
GO
ALTER TABLE [dbo].[voto] ADD  DEFAULT (sysdatetime()) FOR [fecha_voto]
GO
ALTER TABLE [dbo].[comentario]  WITH CHECK ADD FOREIGN KEY([id_comentario_padre])
REFERENCES [dbo].[comentario] ([id_comentario])
GO
ALTER TABLE [dbo].[comentario]  WITH CHECK ADD FOREIGN KEY([id_post])
REFERENCES [dbo].[post] ([id_post])
GO
ALTER TABLE [dbo].[comentario]  WITH CHECK ADD FOREIGN KEY([id_usuario])
REFERENCES [dbo].[usuario] ([id_usuario])
GO
ALTER TABLE [dbo].[comunidad]  WITH CHECK ADD  CONSTRAINT [fk_comunidad_creador] FOREIGN KEY([id_creador])
REFERENCES [dbo].[usuario] ([id_usuario])
GO
ALTER TABLE [dbo].[comunidad] CHECK CONSTRAINT [fk_comunidad_creador]
GO
ALTER TABLE [dbo].[post]  WITH CHECK ADD FOREIGN KEY([id_comunidad])
REFERENCES [dbo].[comunidad] ([id_comunidad])
GO
ALTER TABLE [dbo].[post]  WITH CHECK ADD FOREIGN KEY([id_usuario])
REFERENCES [dbo].[usuario] ([id_usuario])
GO
ALTER TABLE [dbo].[voto]  WITH CHECK ADD FOREIGN KEY([id_comentario])
REFERENCES [dbo].[comentario] ([id_comentario])
GO
ALTER TABLE [dbo].[voto]  WITH CHECK ADD FOREIGN KEY([id_post])
REFERENCES [dbo].[post] ([id_post])
GO
ALTER TABLE [dbo].[voto]  WITH CHECK ADD FOREIGN KEY([id_usuario])
REFERENCES [dbo].[usuario] ([id_usuario])
GO
ALTER TABLE [dbo].[voto]  WITH CHECK ADD  CONSTRAINT [chk_voto_objetivo] CHECK  (([id_post] IS NOT NULL AND [id_comentario] IS NULL OR [id_post] IS NULL AND [id_comentario] IS NOT NULL))
GO
ALTER TABLE [dbo].[voto] CHECK CONSTRAINT [chk_voto_objetivo]
GO
ALTER TABLE [dbo].[voto]  WITH CHECK ADD CHECK  (([tipo]='DOWN' OR [tipo]='UP'))
GO
